/* Body Layout */ 
    body {
        margin: auto;
        margin-top: 20px;
        max-width: 1000px;
    }

    * {
      box-sizing: border-box; /* ændre hitbox når man kommer en border på billeder og tekst */
    }

/* Slut på Body */

/* Navigationslinje */

    #menu-linje {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: antiquewhite;
        width: 1000px;
    }

    .menu-element {
        padding: 20px;
        font-size: 15px;
        font-family: 'Lucida Sans';
        font-weight: bold;
    }

    .logo-menu-element {
        padding: 20px;
        font-size: 15px;
        font-family: 'Lucida Sans';
        font-weight: bold;
        margin-right: 380px; /* Logo til venstre af siden */
    }

    .menu-link {
        color: black;
        text-decoration: none;
    }

    .menu-link:hover {
        color: rgb(147, 147, 147);
    }

/* Slut på Navigationslinje */