/* Body Layout */ 
    body {
        margin: 0;
        font-family: 'Lucida Sans';
        background-color: #F1F2EB; /* Hexkode F1F2EB */
    }

    * {
      box-sizing: border-box; /* ændre hitbox når man kommer en border på billeder og tekst */
    }


/* Slut på Body */

/* Media Query */

    
    @media (max-width: 400px) {
     
    }

/* Slut på Media Query */


/* Navigationslinje */

    .nav-container {  /* Navigation container */
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #4A4B56;
        position: fixed;   /* Fixed navigation i venstre side */
        height: 100%;      /* Den fylder hele siden */
        overflow: auto;
    }

    .nav-container div {  /* Navigation kasser i container */
        text-align: center;
        padding: 15px;
        border: solid 1px;
    }

    /* Links i navigation */
        .nav-container div a { /* Links i navigation */
            color: #EFEEE7;
            font-size: 15px;
            /* font-weight: ; */
            display: block;
            padding: 5px;
            text-decoration: none;
        }

        .nav-container div a:hover {
            text-decoration: underline;
        }

        #logo-knap:hover /* FIX LOGO KNAP SENERE -----------------!! */

        #nav-logo {
            width: 40px;
            height: 40px;
        }

        .nav-container h1 {
            font-weight: lighter;
            font-size: 30px;
            color: #EFEEE7;
            margin: 1px;
        }
        
        .nav-container h2 {
            font-weight: lighter;
            font-size: 20px;
            color: #EFEEE7;
            margin: 1px;
        }
        


    /* Links i navigation */


/* Slut på Navigationslinje */


/* Main content side */







/* Slut på Main content side */

