@charset "utf-8";
/* Start på CSS layout */

/* Start på Body */

    body {
        margin: 0;
        background-color: #EFEEE7;  
        font-family: 'Lucida Sans';
        max-width: 600px;
    }

    .menu {grid-area: menu;}   /* Erklæring af grid areas */
    .main {grid-area: main;}
    /*.footer {grid-area: footer;}*/

/* Slut på Body */


/* Grid container */

    .grid-container > * {         /* Property på hele grid container */
        /* border: solid 1px; */
        text-align: center;
        font-size: 16px;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 
            "menu menu"      /* Hvordan tabellen er sat op i webpage */
            "main main";      /* Forestil dig teksten i en 2x3 tabel */
            /*"footer footer";*/
        
        grid-gap: 0;   
        padding: 0; 
    }


    /* Start på menu */
        .menu {
            padding-top: 15px;
            background-color: #4A4B56;
        }

        .menu a {
            color: #EFEEE7;
            font-size: 15px;
            /* font-weight: ; */
            display: block;
            padding: 15px 10px 15px 10px;
            text-decoration: none;
        }

        .menu a:hover {
            text-decoration: underline;
        }

        .menu h1 {
            font-weight: lighter;
            font-size: 30px;
            margin: 1px;
        }
        
        .menu h2 {
            font-weight: lighter;
            font-size: 20px;
            margin: 1px;
        }

        .menu img {   /* Logo i navigation */
            height: 40px;
            border-radius: 5px;

            transition-property: height; /* Hover animation property */
            transition-duration: 0.5s; /* Hvor lang tid skal de tage at ændre height */
        }

        .menu img:hover {
            height: 43px;
        }


    /* Slut på menu */

    /* Start på MAIN I HOMEPAGE */

        .main {
            background-color: #EFEEE7;
            color: #4A4B56;
            height: 1000px;
        }

        /* Cover billeder på forside */
            .main-title-pic {
                background-image: url("img/lau-webp/lau-tegning-cover.webp");
                height: 200px;
                background-position: top;  /* Cover billede med mørk baggrund */
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin: 15px;
                border-radius: 20px;
            }

            .title-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #EFEEE7;
            }

            .title-text h3 a {
                text-decoration: none;
                color: #EFEEE7;
                font-size: 17px;
            }

            .title-text h1 {
                font-size: 30px;
            }
        /* Slut på Cover billeder på forside */

        /* Start Hjemmeside HOME INFO CONTAINER */

        #home-info-container {
            display: flex;
            flex-direction: column;
            margin: 5px 20px 5px 20px;
            border-radius: 10px;
        }

        #home-info-container div {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #home-info-container img {
            border-radius: 10px;
            opacity: 1.0;
            width: 100%;
            max-width: 380px;
            height: auto;
            object-fit: cover;   /* Giver billede en 'fast' kasse så den ikke kommer over 'rammerne' */
            
        }

        #home-info-container img:hover {
            opacity: 0.7;
        }

        .home-info-box {
            position: relative;
            max-width: 460px;
            margin: 0 auto;
        }

        .home-info-box img {vertical-align: middle;}

        .home-info-box .home-image {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0); 
            background: rgba(0, 0, 0, 0.5); /* Sort baggrund med opacity */
            color: #EFEEE7;
            width: auto;
            padding: 20px;
        }


        /* SLUT PÅ HOME INFO CONTAINER */


        /* Tilbage Knap Style */
        .tilbage-knap a:link, a:visited{
            display: inline-block;
            justify-content: left;
            background-color: #4A4B56;
            color: #EFEEE7;
            font-family: 'Lucida Sans';
            font-size: 14px;
            text-align: left;
            text-decoration: none;
            border: none;
            padding: 10px 15px;
            border-radius: 10px;
            position: relative;
            right: 200px;        /* Hvor knappen sidder på siden */
        } 

        .tilbage-knap a:hover, a:active {
            text-decoration: underline;
        }
        /* Tilbage Knap Style */

        

    /* Slut på MAIN I HOMEPAGE */


    /* START PÅ PORTFOLIO SIDE CSS */

        .color-background { /* Baggrund bag portfolio containers */
            background-color: #DADAD0;
        }

        #portfolio-tekst {
            text-align: left;
            margin: 20px;
        }

        #portfolio-container { /* Selve containeren rundt om containers */
            display: grid;
            gap: 40px;
            border-top: solid #DADAD0 30px;
            border-bottom: solid #DADAD0 30px;
        }

        #portfolio-container div { /* Alle de små containere */
            text-align: left;
            margin: 0 10px 0 10px;
            background-color: #EFEEE7;
            border-radius: 10px;
            height: auto;
        }

        #portfolio-container img {
            margin: 30px;
            display: block;
            width: 85%;
            height: auto;
            object-fit: contain;
            border-radius: 5px;
        }

        #portfolio-container video {
            margin: 30px;
            display: block;
            width: 85%;
            height: auto;
            object-fit: contain;
            border-radius: 5px;
        }



    /* START PÅ PORTFOLIO SIDE CSS */


    /* START PÅ OM MIG SIDE CSS */

        .om-mig-container {
            text-align: left;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            margin: 15px 25px 15px 25px;
        }

        .om-mig-container img {
            padding-top: 15px;
            width: 320px;
            height: auto;
            border-radius: 10px;
        }

        .skill-container {
            text-align: left;
            display: flex;
            flex-direction: column;
            margin: 15px 25px 15px 25px;
        }


        div.tegne-container {
            background-color: #EFEEE7;
            overflow: auto;
            white-space: nowrap;
            padding: 15px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px;
            width: 475px;
        }

        div.tegne-container img {
            padding: 5px 10px 5px 10px;
            width: 200px;
            height: auto;
        }        


        #toolbox-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-flow: row wrap;
            padding: 15px;
            gap: 10px;
        }

        #toolbox-container div {
            background-color: #898885;
            color: #EFEEE7;
            border-radius: 10px;
            width: 120px;
            height: 130px;
            margin: 10px;
            padding: 10px;
            text-align: center;  
            font-size: 16px;
        }

        #toolbox-container img {
            position: relative;
            top: 25px;
            height: 50%;
            width: 55%;
        }



    /* SLUT PÅ OM MIG SIDE CSS */



    /* START PÅ OM KONTAKT SIDE CSS */


        .kontakt-container {
            border-radius: 5px;
            border-top: solid #DADAD0 30px;
            border-bottom: solid #DADAD0 30px;
        }


        input[type=text], select, textarea {
            width: 100%;
            padding: 15px;
            border: 1px solid #DADAD0;
            margin-top: 5px;
            margin-bottom: 15px;
            resize: vertical;
        }


        input[type=submit] {   /* Knappen til Send Besked i kontakt formular */
            background-color: #4A4B56;
            color: #EFEEE7;
            font-family: 'Lucida Sans';
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            border: none;
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            text-decoration: underline;
        }   

        #send-knap {
            margin-top: 20px;
        }
        

        #kontakt-formular:after {  /* Clear floats after the columns - UNDERSØG HVAD DET BETYDER*/  
            content: "";
            display: table;
            clear: both;
        }

        .kontakt-kolonne {
            width: 85%;
            padding: 20px;
        }

        #besked-emne {
            width: 500px;
        }

        #send-knap {
            margin-top: 20px;
        }


    /* SLUT PÅ OM KONTAKT SIDE CSS */


    /* Start på footer*/

        .main footer {
            text-align: center;
            padding: 5px;
            background-color: #DACCB6;
            bottom: 0;
            color: #4A4B56;
            font-size: 13px;
            font-weight: bold;
            padding: 15px;
        }

        .main .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: left;
        }

        .footer-container-soMe {
            padding: 10px;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: lighter;
        }

        .footer-link {
            color: #4A4B56;
        }


    /* Start på footer*/


/* Grid container */





/* Media Query for PC Skærm */

    @media (min-width: 600px) {
        .grid-container {
            grid-template-areas: 
            "menu main"          /* Hvordan tabellen er sat op i webpage */
            "menu main"          /* Forestil dig teksten i en 2x3 tabel */
            "footer footer";

            grid-template-columns: 200px auto; /* Størrelserne på kasserne og 'tabellen' */
            grid-template-rows: auto auto 100px;
            height: 100vh;
        }

        body {
            max-width: 1410px;  /* PC skærm */
        }

        .menu {  /* Fixed side navigation */
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 200px;
            height: 100%;
        }

        .menu img {
            height: 40px;
            border-radius: 5px;

            transition-property: height; /* Hover animation property */
            transition-duration: 0.5s; /* Hvor lang tid skal de tage at ændre height */
        }

        .menu img:hover {
            height: 43px;
        }
        

        .main-title-pic {
            height: 330px;
            max-width: 1200px;
            background-position: top;  /* Cover billede med mørk baggrund */
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 20px;
            border-radius: 20px;
        }

        .title-text h1 {
            font-size: 40px;
        }

        .title-text h3 a {
            text-decoration: none;
            color: #EFEEE7;
            font-size: 25px;
        }


        /* Main Page, HOME INFO MENU */

            #home-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 5px 20px 5px 20px;
                border-radius: 10px;
                gap: 15px;
            }


            #home-info-container div {
                padding: 10px;
            }


            .home-info-box {
                position: relative;
                max-width: 460px;
                margin: 0 auto;
            }

            .home-info-box img {vertical-align: middle;}

            .home-info-box .home-image {
                position: absolute;
                bottom: 0;
                background: rgb(0, 0, 0); 
                background: rgba(0, 0, 0, 0.5); /* Sort baggrund med opacity */
                color: #EFEEE7;
                width: 89%;
                padding: 20px;
            }



        /* Slu på Main Page, HOME INFO MENU */ 


        /* START PÅ PORTFOLIO SIDE */

        #portfolio-tekst {
            text-align: left;
            margin: 20px;
        }

        #portfolio-container {
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 15px;
            margin: 15px;
        }


        /* SLUT PÅ PORTFOLIO SIDE */


        /* START PÅ KONTAKT SIDE */

        .kontakt-kolonne {
            width: 50%;
            margin: 15px;
        }

        #besked-emne {
            width: 635px;
        }


        /* SLUT PÅ KONTAKT SIDE */


        /* START PÅ OM MIG SIDE */

            .om-mig-container {
                text-align: left;
                font-size: 16px;
                display: flex;
                margin: 15px 25px 15px 25px;
            }

            .om-mig-container img {
                padding-top: 15px;
                width: 250px;
                height: auto;
                border-radius: 10px;
                margin-left: 30px;
            }

            div.tegne-container {
                background-color: #EFEEE7;
                overflow: auto;
                white-space: nowrap;
                padding: 0 15px 0 15px;
                margin-left: 20px;
                margin-right: 20px;
                border-radius: 10px;
                width: 1135px;
            }

            div.tegne-container img {
                padding: 10px;
                width: auto;
                height: 320px;
            }

            #toolbox-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                flex-flow: row wrap;
                padding: 15px;
                gap: 10px;
            }

            #toolbox-container div {
                background-color: #898885;
                color: #EFEEE7;
                border-radius: 10px;
                width: 120px;
                height: 130px;
                margin: 10px;
                padding: 10px;
                text-align: center;  
                font-size: 16px;
            }

        /* SLUT PÅ OM MIG SIDE */


        /* START PÅ FOOTER */

            .main footer {
                text-align: center;
                padding: 5px;
                bottom: 0;
                color: #4A4B56;
                font-size: 13px;
                font-weight: bold;
                padding: 15px;
            }

            .main .footer-container a:link, a:visited {
                color: #4A4B56;
                text-decoration: none;
            }

            .main .footer-container-soMe a:hover, a:active {
                text-decoration: underline;
            }

            .main .footer-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                text-align: left;
            }

            .footer-container-soMe {
                color: #4A4B56;
                padding: 10px;
                display: flex;
                flex-direction: column;
                font-size: 13px;
                font-weight: lighter;
            }


        /* SLUT PÅ FOOTER  */


        /* TILBAGE KNAP PÅ ALLE SIDER */

            .tilbage-knap a:link, a:visited{
                display: inline-block;
                justify-content: left;
                background-color: #4A4B56;
                color: #EFEEE7;
                font-family: 'Lucida Sans';
                font-size: 14px;
                text-align: left;
                text-decoration: none;
                border: none;
                padding: 10px 15px;
                border-radius: 10px;
                position: relative;
                right: 520px;       /* Hvor knappen sidder på siden */
            }
        
        /* TILBAGE KNAP PÅ ALLE SIDER */

    }

/* Slut på Media Query for PC Skærm */
   