
/* Start på CSS layout */

/* Start på Body */

    body {
        margin: 0;
        background-color: #EFEEE7;  
        font-family: 'Lucida Sans';
        max-width: 600px;
    }

    .menu {grid-area: menu;}   /* Erklæring af grid areas */
    .main {grid-area: main;}
    .footer {grid-area: footer;}

/* Slut på Body */


/* Grid container */

    .grid-container > * {         /* Property på hele grid container */
        /* border: solid 1px; */
        text-align: center;
        font-size: 16px;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 
            "menu menu"      /* Hvordan tabellen er sat op i webpage */
            "main main"      /* Forestil dig teksten i en 2x3 tabel */
            "footer footer";
        
        grid-gap: 0;   
        padding: 0; 
    }


    /* Start på menu */
        .menu {
            padding-top: 15px;
            background-color: #4A4B56;
        }

        .menu a {
            color: #EFEEE7;
            font-size: 15px;
            /* font-weight: ; */
            display: block;
            padding: 15px 10px 15px 10px;
            text-decoration: none;
        }

        .menu a:hover {
            text-decoration: underline;
        }

        .menu h1 {
            font-weight: lighter;
            font-size: 30px;
            margin: 1px;
        }
        
        .menu h2 {
            font-weight: lighter;
            font-size: 20px;
            margin: 1px;
        }

        #CTA-knap {
            border: none;
            background-color: #EFEEE7;
            color: #4A4B56;
            padding: 10px 13px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 5px;
        }

        .menu-soMe-container {   /* Sociale Medier ikoner og links til senere */
            display: flex;
            justify-content: flex-start;
        }   

        .soMe-container {
            padding: 1px;

        }

    /* Slut på menu */

    /* Start på Main */

        .main {
            background-color: #EFEEE7;
            color: #4A4B56;
            height: 1000px;
        }

        .main-content {  /* Hvid boks i baggrunden */
            background-color: #DADAD0;
            margin: 20px;
            border-radius: 15px;
            height: 500px;
        }

        .main-title-pic {
            height: 300px;
            width: 520px;
            margin: 10px;
            border-radius: 5px;
        }

        

        

    /* Slut på Main */

    /* Start på footer*/

        .footer {
            background-color: #CDB793;
            color: #EFEEE7;
        }

    /* Start på footer*/


/* Grid container */


/* Media Query for PC Skærm */

    @media (min-width: 600px) {
        .grid-container {
            grid-template-areas: 
            "menu main"          /* Hvordan tabellen er sat op i webpage */
            "menu main"          /* Forestil dig teksten i en 2x3 tabel */
            "footer footer";

            grid-template-columns: 200px auto; /* Størrelserne på kasserne og 'tabellen' */
            grid-template-rows: auto auto 100px;
            height: 100vh;
        }

        body {
            max-width: 1410px;  /* PC skærm */
        }

        .menu {  /* Fixed side navigation */
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 200px;
            height: 100%;
        }

        .main-title-pic {
            height: 400px;
            width: 1100px;
            margin: 10px;
            border-radius: 5px;
        }

    }

/* Slut på Media Query for PC Skærm */
   