@charset "utf-8";
/* Start på CSS layout */

/* Start på Body */

    body {
        margin: 0;
        background-color: #EFEEE7;  
        font-family: 'Lucida Sans';
        max-width: 600px;
    }

    .menu {grid-area: menu;}   /* Erklæring af grid areas */
    .main {grid-area: main;}
    .footer {grid-area: footer;}

/* Slut på Body */


/* Grid container */

    .grid-container > * {         /* Property på hele grid container */
        /* border: solid 1px; */
        text-align: center;
        font-size: 16px;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 
            "menu menu"      /* Hvordan tabellen er sat op i webpage */
            "main main"      /* Forestil dig teksten i en 2x3 tabel */
            "footer footer";
        
        grid-gap: 0;   
        padding: 0; 
    }


    /* Start på menu */
        .menu {
            padding-top: 15px;
            background-color: #4A4B56;
        }

        .menu a {
            color: #EFEEE7;
            font-size: 15px;
            /* font-weight: ; */
            display: block;
            padding: 15px 10px 15px 10px;
            text-decoration: none;
        }

        .menu a:hover {
            text-decoration: underline;
        }

        .menu h1 {
            font-weight: lighter;
            font-size: 30px;
            margin: 1px;
        }
        
        .menu h2 {
            font-weight: lighter;
            font-size: 20px;
            margin: 1px;
        }

        .menu img {   /* Logo i navigation */
            height: 40px;
            border-radius: 5px;

            transition-property: height; /* Hover animation property */
            transition-duration: 0.5s; /* Hvor lang tid skal de tage at ændre height */
        }

        .menu img:hover {
            height: 43px;
        }


    /* Slut på menu */

    /* Start på MAIN I HOMEPAGE */

        .main {
            background-color: #EFEEE7;
            color: #4A4B56;
            height: 1000px;
        }

        /* Cover billeder på forside */
            .main-title-pic {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/lau-webp/lau-cover.webp");
                height: 200px;
                background-position: center;  /* Cover billede med mørk baggrund */
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin: 20px;
                border-radius: 20px;
            }

            .title-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #EFEEE7;
            }

            .title-text h3 a {
                text-decoration: none;
                color: #EFEEE7;
                font-size: 17px;
            }

            .title-text h1 {
                font-size: 30px;
            }
        /* Slut på Cover billeder på forside */

        main button {
            background-color: #4A4B56;
            color: #EFEEE7;
            font-family: 'Lucida Sans';
            font-size: 14px;
            border: none;
            padding: 10px;
            border-radius: 10px;
        }

        main button:hover {
            text-decoration: underline;
        }


        

    /* Slut på MAIN I HOMEPAGE */


    /* START PÅ PORTFOLIO SIDE CSS */

        .color-background { /* Baggrund bag portfolio containers */
            background-color: #DADAD0;
        }

        #portfolio-tekst {
            text-align: left;
            margin: 15px 15px 15px 15px;
        }

        #portfolio-container { /* Selve containeren rundt om containers */
            display: grid;
            gap: 40px;
            border-top: solid #DADAD0 30px;
            border-bottom: solid #DADAD0 30px;
        }

        #portfolio-container div { /* Alle de små containere */
            text-align: left;
            margin: 0 10px 0 10px;
            background-color: #EFEEE7;
            border-radius: 10px;
            height: auto;
        }

        #portfolio-container img {
            margin: 30px;
            display: block;
            width: 85%;
            height: auto;
            object-fit: contain;
            border-radius: 5px;
        }

        #portfolio-container video {
            margin: 30px;
            display: block;
            width: 85%;
            height: auto;
            object-fit: contain;
            border-radius: 5px;
        }



    /* START PÅ PORTFOLIO SIDE CSS */


    /* Start på footer*/

        .footer {
            background-color: #CDB793;
            color: #EFEEE7;
            bottom: 0;
            position: fixed;
            height: 30px;
        }

    /* Start på footer*/


/* Grid container */


/* Media Query for PC Skærm */

    @media (min-width: 600px) {
        .grid-container {
            grid-template-areas: 
            "menu main"          /* Hvordan tabellen er sat op i webpage */
            "menu main"          /* Forestil dig teksten i en 2x3 tabel */
            "footer footer";

            grid-template-columns: 200px auto; /* Størrelserne på kasserne og 'tabellen' */
            grid-template-rows: auto auto 100px;
            height: 100vh;
        }

        body {
            max-width: 1410px;  /* PC skærm */
        }

        .menu {  /* Fixed side navigation */
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 200px;
            height: 100%;
        }

        .menu img {
            height: 40px;
            border-radius: 5px;

            transition-property: height; /* Hover animation property */
            transition-duration: 0.5s; /* Hvor lang tid skal de tage at ændre height */
        }

        .menu img:hover {
            height: 43px;
        }
        

        .main-title-pic {
           height: 380px;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           position: relative;
           margin: 20px 30px;
           border-radius: 20px;
        }

        .title-text h1 {
            font-size: 50px;
        }

        .title-text h3 {
            font-size: 30px;
        }

        .title-text h3 a {
            text-decoration: none;
            color: #EFEEE7;
            font-size: 23px;
        }

        /* START PÅ PORTFOLIO SIDE */

        #portfolio-tekst {
            text-align: left;
            margin: 25px 25px 15px 25px;
        }

        #portfolio-container {
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 15px;
            margin: 15px;
        }


        /* SLUT PÅ PORTFOLIO SIDE */

    }

/* Slut på Media Query for PC Skærm */
   