/* Body Layout */ 
    body {
        margin: auto;
        background-color: rgb(66, 66, 66); /* Hexkode F1F2EB */
    }

    * {
      box-sizing: border-box; /* ændre hitbox når man kommer en border på billeder og tekst */
    }

/* Slut på Body */

/* Navigationslinje */

    #menu-linje {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #D8DAD3;
    }

    .menu-element {
        padding: 30px 25px 30px 25px;
        font-size: 15px;
        font-family: 'Lucida Sans';
        font-weight: 500;
    }

    .logo-menu-element {
        color: #4A4B56;
        padding: 30px 25px 30px 25px;
        font-size: 17px;
        font-family: 'Lucida Sans';
        font-weight: bolder;
        margin-right: 680px; /* Logo til venstre af siden */
    }

    .menu-link {
        color: #4A4B56;
        text-decoration: none;
    }

    .menu-link:hover {
        text-decoration: underline;
    }

/* Slut på Navigationslinje */

