/* Body Layout */ 
    body {
        margin: 0;
        background-color: #F1F2EB; /* Hexkode F1F2EB */
    }

    * {
      box-sizing: border-box; /* ændre hitbox når man kommer en border på billeder og tekst */
    }


/* Slut på Body */

/* Media Query */

    /* On screens that are 700px wide or less, make the columns stack on top of each other instead of next to each other */
    @media (max-width: 600px) {
     .nav-container { /* Ændre Navigation fra Row til Column når siden er mindre end 700px */
      flex-direction: column;
      }
    }

/* Slut på Media Query */


/* Navigationslinje */

    .nav-container {  /* Navigation container */
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #DADAD0;
        position: fixed;   /* Fixed navigation i venstre side */
        height: 100%;      /* Den fylder hele siden */
        overflow: auto;
    }

    .nav-container div {  /* Navigation kasser i container */
        font-family: 'Lucida Sans';
        text-align: center;
        padding: 15px;
    }

    /* Links i navigation */
        .nav-container div a { /* Links i navigation */
            color: #4A4B56;
            font-size: 15px;
            display: block;
            padding: 5px;
            text-decoration: none;
        }

        .nav-container div a:hover {
            text-decoration: underline;
        }

        #nav-logo {
            width: 40px;
            height: 40px;
        }
    /* Links i navigation */


/* Slut på Navigationslinje */


