/* Body Layout */ 
    body {
        margin: auto;
        background-color: rgb(66, 66, 66); /* Hexkode F1F2EB */
    }

    * {
      box-sizing: border-box; /* ændre hitbox når man kommer en border på billeder og tekst */
    }


/* Slut på Body */

/* Navigationslinje */

    .nav-grid-container .logo-home-button {
        float: left;
        width: 40px;
        height: 40px;
        padding: 3px;
    }

    .nav-grid-container { /* Hele grid containeren */
        display: grid;
        grid-template-columns: 200px auto 110px 110px 110px;  /* Laver fem kolonner med tilpasset bredde */
        background-color: #D8DAD3;                     /* Laver baggrundsfarven for hele containeren */
        padding: 25px 10px 25px 10px;                               /* Padding for hele containeren */
    }

    .nav-grid-container div { /* Elementer (kasser) inde i grid container */
        background-color: #D8DAD3;       /* baggrundsfarve på kasser i container */
        /*border: solid 1px; */             /* border om container elementer - slet senere */
        padding: 10px;                     /* padding i container elementer/kasser */
        font-size: 15px;
        font-family: 'Lucida Sans';
        text-align: center;
    }

    .nav-link {
        color: #4A4B56;
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
    }


/* Slut på Navigationslinje */


